# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=erp-ls

# Configurações do Servidor NestJS
PORT=3000
NODE_ENV=development

# Configurações de Segurança e JWT (Futuro RBAC)
# JWT_SECRET=sua-chave-super-secreta-aqui
# JWT_EXPIRES_IN=1d
